@import '../_vars';

html {
  box-sizing: border-box !important;
}

*,
*::before,
*::after {
  box-sizing: inherit !important;
}

#app {
  position: relative;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
}

.container {
  position: relative;
  width: 100%;
  max-width: $container-max-width;
  margin: 0 auto;
  padding: 0 $container-padding-sides;
}
